/* Animations 1 */

#magazine {
    width: 100px;
    height: 100px;
    perspective: 300px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: grey;
  }
  
  #animation {
    animation: anim 2s linear 0s infinite alternate;
    transform-origin: 50% 100%;
  }
  
  @keyframes anim {
    from {transform: rotateX(90deg);}
    to {transform: rotateX(-90deg);}
  }

/* Animations 2 */

  h1 { 
    color: green; 
} 
  
.Fold { 
    position: absolute; 
    left: 50%; 
    top: 55%; 
    transform: translate(-50%, -50%); 
    width: 400px; 
    height: 200px; 
    background-color: #4EE73C; 
} 
  
h3 { 
    margin: 20px; 
    padding: 20px; 
} 
  
.Fold:after { 
    position: absolute; 
    content: ''; 
    right: 0; 
    top: 0; 
} 
  
.Fold:hover:after { 
    transition-duration: 1s; 
    border-bottom: 50px solid black; 
    border-right: 50px solid white; 
} 

/* Footer */

.footer {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    bottom: 0%;
    background: #111;
    color:rgb(194, 190, 190);;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.25rem;
}


.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}