@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Balsamiq+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

/* Getting rid of the default margins and padding of the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Heebo", sans-serif;
}

/* Steel Background Above Nav Bar */
.header {
    background: url("Steel.jpg");
    padding-bottom: 20px;
}

/* Biker Lifestyle Logo On Steel Background */
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    max-width: 40%;
    min-width: 400px;
    overflow: hidden;
    padding-top: 20px;
}

/* Nav Bar */
nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: black;
    border: solid darkgrey 2px; 
}

/* All the links On Nav Bar */
.nav-links{
    display: flex;
    list-style: none;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    top: 20%;
}

/* Listed Nav Links */
.nav-links li{
    font-size: 1.5rem;
    width: 30%;
    clear: both;
    display: inline-block;
    white-space: nowrap;
    
}

/* Each Individual Link With Anchor Tag */
.nav-links li a{
    color: white;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

/* Hover Effect On Links In Nav Bar */
.nav-links li a:hover{
    color: red;
    font-size: 1.7rem;
    transition: 1s;
}

/* The Div The Nav Is Stored Inside */
.container { 
    clear: both; 
    width: 800px; 
    height: 70px; 
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    position: relative;

}

/* Styling to the UL's in the Nav Bar */
.container ul { 
    padding: 0 0 0 20px; 
    margin: 0; 
    list-style: none;
}

/* Styling of content in the div "content" in which the "content" is injected through the JavaScript calling a API and injecting it into the HTML */
#content {
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.63);
    color: #fff;
    font-family: 'Baloo 2', cursive;
}

/* Footer With Social Media Links */
.footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    bottom: 0px;
    background: #111;
    color:rgb(194, 190, 190);;
    text-align: center;
    padding: 4rem;
    font-size: 1.25rem;
}


.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/*  End Of Footer  */



/* Footer */

.footer {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    bottom: 0px;
    background: #111;
    color:rgb(194, 190, 190);;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.25rem;
}


.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}